*{
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

#container{

    width:100%;
    height:500px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding:50px;

}

.tools{
    display: flex;
    justify-content: center;
}

.btn{
    margin:2px;
    padding:10px;
}

.node{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    width: 45%;
    height:80%;
    border:1px solid #262626;
    background-color: #dedede;
}


.active{
    background-color: #0b76ac;
}